.row{
  background-color: black;
  width: 100%;
  height: 100vh;
}
.display{
  /* width: 90%; */
  width: 350px;
  height: 150px;
  background-color: rgb(249, 168, 17);
  border-radius: 15px;
  margin-top: 25px;
}
#outlined-basic{
  width: 350px;
}